<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Antonio.Town
  </title>
  <meta name="description" content="Welcome 2 ANTONIO.TOWN" />
  <link rel="stylesheet" href="https://unpkg.com/98.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
</head>

<body>
  <div class="logo">
    <img id="header" src="./static/img/antoniotownflame.gif" alt="Antonio.Town" onclick="changeLogo()">
    <img src="./static/img/balloons.gif" alt="">
  </div>


<pre><code>{{ collections.toniopost | debug }}</code></pre>
  
  <section class="feed">
    {% set postslist = collections.toniopost %}

    {% for post in postslist | reverse %}
    
    <div class="window photopost" style="width:fit-content" onclick="moveToTop.call(this)">
      <div class="title-bar">
        <div class="title-bar-text">
          {% if (loop.index0 == 0) %}
          antonio.town
          {% else %}
          antonio.town ({{loop.index0 % 10}})
          {% endif %}
          - {{ post.page.date | readableDate }}
        </div>
        <div class="title-bar-controls">
          <button aria-label="Minimize" onclick="minimizeBar.call(this)"></button>
          <button aria-label="Maximize" onclick="maximizeBar.call(this)"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <img src="{{ post.data.photo }}" alt="">
      </div>
    </div>
    {% endfor %}
  </section>

  <script>


    function minimizeBar(){
      let el = this.parentElement.parentElement.parentElement;
      console.log(el)
      el.classList.toggle('minimized')
    }
    function maximizeBar() {
      // let el = this.parentElement.parentElement.parentElement;
      // console.log(el)
      // el.classList.toggle('maximized')
    }

    let previousTop = document.querySelector('.photopost')

    function moveToTop(){
      previousTop.style.zIndex = 1;
      this.style.zIndex = 100;
      previousTop = this;
    }

    function reposition(){
      let offsetX = document.querySelector(".feed").clientWidth * 0.095;
      let offsetY = 50;
      document.querySelectorAll('.photopost').forEach(el => {

        let x = Math.random() * offsetX - offsetX/2
        let y = Math.random() * offsetY - offsetY/2
        el.style.transform = `translate(${x}px ,${y}px)`
        el.style.marginBottom = Math.random() * offsetY - offsetY/2
      })
    }
    reposition();

    let num_gif_logos = 9;
    let num_png_logos = 7;
    let logo_url = "./static/img/logos/atlogo"
    let logos = [];
    
    for(let i = 1; i < num_gif_logos; i++){
      logos.push(logo_url + i +'.gif')
    }

    for(let i = 1; i < num_png_logos; i++){
      logos.push(logo_url + i +'.png')
    }

    shuffle(logos);

    const header = document.getElementById('header');

    let logoIdx = 0;
    function changeLogo(){
      logoIdx += 1;
      logoIdx %= logos.length;
      header.src = logos[logoIdx]
    }

    setInterval(changeLogo, 3000);

    function shuffle(array) {
        let currentIndex = array.length, randomIndex;
        while (currentIndex != 0) {
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex--;
          [array[currentIndex], array[randomIndex]] = [
            array[randomIndex], array[currentIndex]];
        }

        return array;
      }
  </script>
</body>
</html>