<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Antonio.Town
    </title>
    <meta name="description" content="Welcome 2 ANTONIO.TOWN"/>
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  </head>
  <body>

<section>
  {% set postslist = collections.toniopost %}

  <h3>{{ postlist }}</h3>
  {% for post in postslist | reverse %}
  <div>
    <h1> 
      {% if (loop.index0 == 0) %}
        www.antonio.town
      {% else %}
        www.antonio.town ({{loop.index0 % 10}})
      {% endif %}
      
      - {{ post.date | readableDate }}
    </h1>
    <img src="{{ post.data.photo }}" alt="">

  </div>
  {% endfor %}
</section>


  </body>
</html>