*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body{
  background-image: url("../img/water.png");
}

.logo{
  margin: 0 auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feed{
  margin: 0 auto;
  max-width: min(100%, 1200px);

}

.feed .photopost{
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative; 
  z-index: 1;
}

.feed .photopost:last-of-type{
  margin-bottom: 80px !important;
}

.photopost .window-body{
  margin: 6px;
}

.window.minimized .window-body{
  height: 0px;
  margin: 0px 6px;
  overflow: hidden;
}

.window.minimized{
  margin-bottom: 80px;
}

.window.maximized{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100dvw !important;
  max-width: 100dw !important;
  height: 100dvh;
  transform: translate(0,0) !important;
}

#header{
  height: 100px;
  margin-bottom: 20px;
  object-position: center;
  object-fit: contain;
  max-width: 95%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #header {
    height: 74px;
  }
}